@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root{
    --primary: #ACAEB1;
    --secondary: #242F43;
    --third: #68B4BE;
}




.primary{
    color: var(--primary) !important;
}
.secondary{
    color: var(--secondary) !important;
}
.third{
    color: var(--third) !important;
}

.bgPrimary{
    background-color: var(--primary);
}
.bgSecondary{
    background-color: var(--secondary);
}
.bgThird{
    background-color: var(--third);
}
.bgPrimaryT{
    background-color: #acaeb179;
}

/*! Transizioni */

.transition05{
    transition: 0.5s;
}

.transition1{
    transition: 1s;
}




/*! navbar */
.container-ul-navbar{
    width: 100%;
}

.whidtFineNav{
    width: 180px;
}
.ancorNavbar{
    border-bottom: 3px solid transparent;
}

:hover.ancorNavbar{
    border-bottom: 3px solid #4f9ba5;
    color: var(--primary) !important;
}


/*! header */
.bgHeader {
    background-image: url('/public/image/bgHeader.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}


.title{
    font-family: 'Poppins', sans-serif;
}


/*! sezione 1 */

.bgStoria{
    background-image: url('/public/image/storia.png');
    background-size: cover;
    background-position: center;
    height: 40vh;
}


/*! SWIPER */

.swiper {
    width: 100%;
    height: 80vh;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*! index lavori */

.category{
    height: 80vh;

}

/*? card */
.borderCard{
    transition: 1s;
    border: 2px solid var(--secondary);
}

.borderCard:hover{
    border: 2px solid var(--third);
}

.cardimg{ 
    background-image: url('/public/image/bgHeader.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    border: 0;
    border-radius: 0%;
}

.z-index1{
    z-index: 1;
}

.stileBTNcard{
    background-color: white;
    border-radius: 0%;
    width: 130px;
}

.stileBTNcard:hover{
    background-color: rgba(255, 255, 255, 0.815);
}

/*? bg-title-categorie */

.bg-title-categorie{
    background-image: url('/public/image/titolo_categorie.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;
}

.bgSecondaryTitle{
    background-color: #242f439d;
}




@media screen and (max-width: 768px){
    .dnone-mobile{
        display: none !important;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px){
    .dnone-tablet{
        display: none !important;
    }
    
}


@media screen and (min-width: 992px){
    .cardimg:hover{
        filter: brightness(0.8)
    }
}












/* d-none icone */
@media screen and (max-width: 991px){
    .dnone-navbar{
        display: none !important;
    }
    
}

@media screen and (min-width: 991px){
    .icone{
        display: none !important;
    }

    .chiSiamo{
        box-shadow: 30px -30px var(--third);
    }
    
    .bgStoria:hover{
    transform: scale(1.08);   
    }

    .d-none-transition {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s linear, visibility 1s linear;
    }
    
    .d-none-transition.active {
        opacity: 1;
        visibility: visible;
    }
}